.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
}

.footer-icons > a {
  margin: 0 10px;
  cursor: pointer;
}

.footer-icons > a:hover {
  opacity: 0.6;
}


